SECRET_KEY='django-insecure--!s97*4w7$b7u!gau%%hxg3kfe2@*#kdy-*=nz%gm*%rhv%i$1'
DEBUG="True"
DJANGO_ALLOWED_HOSTS=*

EXTERNAL_APP_ACCESS_TOKEN=

DB_ENGINE=
POSTGRES_DB_NAME=notificator_db
POSTGRES_USER_NAME=notificator_user
POSTGRES_PASSWORD=password123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0


MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_INITDB_USERNAME=
MONGO_INITDB_PASSWORD=
MONGO_HOST=
MONGO_PORT=
